#application-status ul li, #plugin-status ul li {
    display: block;
    margin-left: 1.3em;
    color: #666666;
}

table th.sortable a {
    color: white;
    text-decoration: none;
}

table th.sortable a:hover {
    text-decoration: underline;
}